services:
  frontend:
     image: example_frontend_compose
     build: 
       context: ../basics/1.12_excercise/example-frontend
       dockerfile: Dockerfile
     command: ["serve", "-s", "-l", "5000", "build"]
     environment:
       REACT_APP_BACKEND_URL: http://localhost:8080
     ports:
      - 8000:5000

  backend: 
    image: example_backend_compose
    build:
      context: ../basics/1.13_Excercise/example-backend
      dockerfile: Dockerfile
    command: ["./server"]
    environment:
       PORT: 8080
       REQUEST_ORIGIN: http://localhost:8000
       REDIS_HOST: redis-service
       POSTGRES_PASSWORD: password
       POSTGRES_HOST: db
    ports:
      - 8080:8080
    restart: unless-stopped
    depends_on:
      - redis-service
      - db

  db:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
    volumes:
      - type: bind
        source: ./database
        target: /var/lib/postgresql/data/
        
  redis-service: 
    image: redis:8.4.0 


  adminer:
    image: adminer:4
    restart: always
    ports:
      - 8083:8080
      


