services:
  frontend:
     image: example_frontend_compose
     build: 
       context: ../basics/1.12_excercise/example-frontend
       dockerfile: Dockerfile
     command: ["serve", "-s", "-l", "5000", "build"]
     environment:
       REACT_APP_BACKEND_URL: http://localhost:80/api
    #  ports:
    #   - 8000:5000

  backend: 
    image: example_backend_compose
    build:
      context: ../basics/1.13_Excercise/example-backend
      dockerfile: Dockerfile
    command: ["./server"]
    environment:
       PORT: 8080
       REQUEST_ORIGIN: http://localhost
       REDIS_HOST: redis-service
       POSTGRES_PASSWORD: password
       POSTGRES_HOST: db
    # ports:
    #   - 8080:8080
    restart: unless-stopped
    depends_on:
      - redis-service
      - db

  db:
    image: postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres

  redis-service: 
    image: redis:8.4.0 
      
  
  nginx:
    image: nginx:alpine
    volumes: 
     - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    ports: 
     - 80:80 

   



